# Build output
dist/
build/
out/

# Node modules
node_modules/

# Environment files
.env
*.env

# Dependency locks
package-lock.json
pnpm-lock.yaml
yarn.lock

# Assets / static files
public/
coverage/
*.min.js
*.min.css

# Snapshots
**/__snapshots__/

# Expo
.expo/
.expo-shared/

# Custom
Dockerfile
*.md
*.json

**/node_modules/**
**/dist/**
**/build/**
**/coverage/**
**/.expo/**
**/.expo-shared/**
**/android/**
**/ios/**
**/*.spec.ts
**/*.test.ts
**/*.spec.tsx
**/*.test.tsx
expo-env.d.ts